@charset "utf-8";

*{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-family:"맑은 고딕";
	color: #666;
}

body{
	background-color: #fff;
	font-size: 20px;
}

a{
	text-decoration: none;
	display: block;
}

header{

	height: 100px;
	width: 1000px;
	position: relative;
	margin-bottom: 0px;
}



.top{
	height: 100px;
	width: 1000px;
	position: absolute;
}

.logo{
	float: left;
	width: 300px;
	height: 300px;
}

.logo img{
	float: left;
	
	width: 350px;
	height:100px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}



.menu{                  
	float: right;
	width: 620px;
	
	top: 30px;
	right:-20px;
	z-index: 1;
	
}

.navi>li{
	float: left;
	height: auto;
	width: 150px;
	border-right:2px solid #fff;
}

.menu:nth-child(0){
	border-right:0;
}

.navi>li>a{
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	text-align:right;
	background-color: #85C89A;
	color: #fff;
}

.navi>li>a:hover{
	background-color: #2F5412;
	color: #fff;
}

.submenu{
	display: none;
}

.submenu>li{
	text-align: right;
	height: 20px;
	width: 150px;
	background-color:rgba(255,255,255,0.9);
	color: #E6FCE7;
}  

.submenu>li>a{
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

.submenu>li>a:hover{
	background-color: #32560C;
	color: #fff;
}   
  /* 메뉴 설계  css 끝 */

.bodywrap{
	width: 1000px;

}
  
 /* 이미지슬라이드  CSS 시작  */

.imgslide{     
	width:1000px;
	height: 350px;
	
}

.imgs{
	
	position: relative;
	overflow: hidden;
	height: 350px;
			
}

.imgs>img{
	width: 50%;
	position: absolute;
	text-align: center;
}
	
.welcome{
	height: 40px;
	width: 150px;
	position: absolute;
	right: 20px;
   /* left: 50%; 를 기준으로 글이 들어있는 박스가 가운데로 갈 수 있도록 실험해보세요. */
	
	top: 45px;
   /* 위치를 고정하기 위해 절대적인 값을 지정하였으며 line-height: 50px; 이라 같이 잡아줌. */
	
	margin: -50px 0 0 0px !important;
   /* margin: 0px 0 0 0px !important; 을 적용하면 사각형 박스가 내려옵니다. 실험 필요 */
	
	text-align: center;
	line-height: 40px;
   /* 박스안의 글자(Wedding Planner)가 약간 아래로 내려와 있으므로 height: 40px; 과 같은 값이 아닌 line-height: 50px; 으로 잡아줍니다. */
	
	background-color: rgba(45,77,54,0.50);
}

.welcome h3 span{
   color: #fff;
   font-family: "Times New Roman", Times, serif;
}

#slides {
	width: 1000px;
	height: 300px;
   /* 여기서 height: 350px; 을 잡으면 이전 다음 글자가 보이지 않습니다. */
}

#slides li {
	display: none;
}

#slides li:first-child {
	display: block;
}

#slides li img{
	width: 1000px;
	height: 350px;
/*  여기서 height: 300px; 으로 잡으면 이전 다음 버튼이 이미지 아래로 탈출합니다. */
}

#btn_slides{
	text-align: center;
}

#btn_slides>a{
	display: inline-block;
	color: #000;
	font-weight: bold;
	font-size: 0.8em;
}
/*
여기에서 display: inline-block; 을 잡지 않으면 이전과 다음이 위,아래로 줄바꿈이 됩니다. 먼저 
a{
	text-decoration: none;
	display: block;
} 
를 잡았기 때문이고 글자색을 바꾸어 주지 않으면 너무 흐릿해서 안보입니다.
여기까지 입력해야 이전 다음버튼이 잘보입니다.
*/

#btn_slides a.off{
	cursor: default;
	opacity: 0.5;
}

/*
#btn_slides a.off{
	cursor: default;
	opacity: 0.5;
}
이전 이나 다음에 나타날 이미지가 없는 경우에 이전, 다음 버튼을 커서는 화살표로 표시하고 글자는0.5의 불투명도를 적용하라는 뜻 
*/

/* 이미지슬라이드  CSS  끝  */





.mainmenu{

	width:1000px;
	height:50px;
	text-align: center;
	
}

.mainmenu>.navi>li{
	float: left;
	height:50px;
	width: 85px;
	border-right:2px solid #fff;
}

.contents{
	height: 600px;
	width: 1000px;
	overflow: hidden;
	left:5px;
}	
	
	
	
	
	.notice{
	float: left;
	width: 500px;
	margin-top: 20px;
}

.tab h4{
	color: #000;
	text-align: center;
}

.notice .tab{
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
}
/* 공지사항 제목 아래에 테두리를 주고 아래의 간격을 띄워줍니다. */

.notice ul{
	float: left;
	width: 450px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	margin-left: 25px; 
/*	여기서 text-align: center 를 잡으면 내용도 가운데 정렬이 됩니다. 실험을 해서 margin-left 값을 적당하게 잡아보세요 */
}

.notice li div{
	width: 225px;
	background-color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

/*내용과 날짜에 해당하는 div 설정으로 .notice ul 의 width: 450px; 으로 2로 나눈 값입니다.*/

.t1{float: left;} 
/* 내용 div*/

.t2{float: right;} 
/* 날짜 div*/

.notice ul li span{float: right;}

.notice ul li>a{display: inline-block;}  

.notice ul li:nth-child(2n){
	background-color:#85C89A;
}
/*
.notice ul li:nth-child(2n){
	background-color:#000;
} 
위와 같이 설정을 하면 내용과 제목도 배경색이 들어가므로 아래와 같이 잡아줍니다.
.notice li div{
	background-color: #fff;
}
*/

.notice ul li>a:hover{font-weight: bold;}

.parther{
	float: right;
	width: 500px;
	margin-top: 20px;
	text-align: center;
}

.parther .tab{
	padding-bottom: 10px;
}

.parther ul{
	float: right;
	width: 450px;
	margin-left: 25px; 
}

.parther img{
	cursor: pointer;
}

.otherwrap{
	clear: both;
	width:1000px;
	height: 450px;
	top:100px;
	position: relative;
}
.icon{
	float: left;  
	width: 1000px;
  
}

.icons{
	text-align: center;
	top:50px;
 

}

.imgbtn{
	clear: both;
	width: 160px; 
	margin: 0 20px;
	display: inline-block;

}

.imgbtn img{
	float: left;
	width: 150px;
	height: 150px;

}

.imgbtn button{
	padding: 10px;
	background-color: #2F5412;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	
}

button{cursor: pointer}

.imgbtn>button:hover{
	background-color: #96F097;
}



 .modal {
            display: none; 
            position: fixed;
            z-index: 1;
	 text-align: center;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: fix; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
/*모달창 css 입력 끝  */
footer{
	width:100%;
	height:100%;
	background-color:#85C89A;
	float: left;
	text-align: center;
	
}


.bottom{
	float: left;
	width: 100%;
	height: 100%;
}



.copy{
	float:left;
	width: 700px;
	text-align: center;	
	height: 100%;
	font-size:16px;
	line-height: 100px;
	color:#fff;
}
.copy>a{
		display: inline-block;
	color:#fff;
}
.copy>a:hover{
	font-weight: bold;
	text-decoration: underline;
	

}


.site{
	float: right;
	height: 500px;
	width:300px;
		
}
.btmenu{
     clear: both;
	float: right;
	width:250px;
	height:50px;
	text-align: center;
	font-size:16px;
	line-height: 50px;
	overflow: hidden;
	   display:block;
	}
.btmenu li>a{
	float:right;	
    width:250px;
	height:50px;
	
    display:block;
	color:#ffffff;
}




	
.btmenu li>a>img{
	   float: left;
	width:250px;
	height:50px;
	
}
.btmenu li>a:hover{
    font-weight:bold;
}
.familysite{
	
	float: left;
	height: 50px;
	width: 300px;
	text-align: center;
	line-height: 50px;
}

.familysite select{
	float:left;
	height:30px;
	width:280px;
	margin-right:10px;
	font-size:14px;
}


.bottom .site #sns {
}
